@import "tailwindcss";

:root {
  --background: #D0CBC6;
  --foreground: #171411;
  --theme-50: #26221F;
  --theme-100: #1D1A17;
  --theme-200: #171411;
  --theme-300: #302B26;
  --theme-400: #474039;
  --theme-500: #655C53;
  --theme-600: #8A837B;
  --theme-700: #D0CBC6;
  --theme-800: #E7E4E1;
  --theme-900: #FFF8F8;
  --theme-success: #52A679;
  --theme-warning: #D4A857;
  --theme-error: #B34A3A;
}

@theme inline {
  --color-background: var(--theme-700);
  --color-foreground: var(--theme-200);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--theme-200);
    --foreground: var(--theme-700);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
